
body {
background-color: LightGrey;
}

* {
  font-family: Montreal;
}


h1 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  padding-top: 0px
}

.Logo {
width: 5%;
margin-left: 50px;
margin-top: 50px;
}


.content, .BildHauptseite, div#Ueber, div#Gallerie, div#Kontakt {
  box-sizing: border-box;
}

.content{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.BildHauptseite {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100%;
}


div#Ueber {
text-align: center;
width: 33.33%;
float: left;
padding: 50px;
}

div#Gallerie {
  text-align: center;
  width: 33.33%;
  float: left;
  padding: 50px;
}

div#Kontakt {
  text-align: center;
  width: 33.33%;
  float: left;
  padding: 50px;
}

h2 {
  color: black;
  font-weight: normal;
  text-decoration: none;
  margin-top: 40px;
}


.BildUeber {
  border-radius: 100%;
  width: 80%;
}
